body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  div {
    text-align: center;
  }
  
  input {
    margin-top: 10px;
  }
  
  img {
    margin-top: 10px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  